#
# Eclipse stuff
#
.classpath
.project
eclipse-launch
target-eclipse

#
# Maven stuff
#
target
work

#
# IntelliJ files
#
*.iml
*.iws
*.ipr
.idea

#
# Netbeans
#
nbactions.xml

#
# Miscellanea
#
hooks
*.log
*.pyc
.settings
*~
